.chartdiv {
  text-align: -webkit-center;
}
.bar-container {
  /* background-color: #bababa; */
  width: 90%;
  border-radius: 4px;
  height: 28px;
  /* border: 1px solid #dadada; */
}

.div-a {
  color: whitesmoke;
  float: left;
  text-align: center;
  height: 100%;
  width: 0%;
  background-color: #8067dc;
  /* border-right: 1px solid #8f8f8f; */
}

.div-b {
  color: whitesmoke;
  float: left;
  text-align: center;
  height: 100%;
  width: 0%;
  background-color: #6794dc;
  /* border-right: 1px solid #8f8f8f; */
}
.div-c {
  color: whitesmoke;
  float: left;
  text-align: center;
  height: 100%;
  width: 0%;
  background-color: #6771dc;
  /* border-right: 1px solid #8f8f8f; */
}

.div-d {
  color: whitesmoke;
  float: left;
  text-align: center;
  height: 100%;
  width: 0%;
  background-color: #a367dc;
}

.border-radius-left {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.border-radius-right {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
