@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Water+Brush&display=swap");

.header {
  /* background-color: #d2c5fb; */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 55px;
  margin-bottom: 200px;
  /* position: relative; */
  background-color: azure;
  background-image: linear-gradient(#7e57c2, #0d4b9c);
  z-index: 1;
  /* src: url('../../assets/cloud_icon.png'); */
  /* background-image: url("https://d2slcw3kip6qmk.cloudfront.net/marketing/blog/cloudblog/cloud-regions/the-big-deal-about-cloud-regions-header@2x.png"); */
  /* background: image(
    "https://d2slcw3kip6qmk.cloudfront.net/marketing/blog/cloudblog/cloud-regions/the-big-deal-about-cloud-regions-header@2x.png"
  ); */
}

.header-title-text {
  font-size: x-large;
  /* font-family: "Tangerine", cursive; */
  font-family: "Water Brush", cursive;
  color: white;
  /* size: 50px; */
  margin-left: 60px;
  width: auto;
  /* margin: 0; */
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cloud-icon {
  height: 40px;
  width: auto;
  margin-left: 10px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.logged-user-name {
  float: right;
  margin-right: 10px;
  color: white;
  margin-top: 15px;
}

.select-class {
  color: white;
}
