.login-card {
  width: 100px;
  height: 300px;
  display: flex;
  align-items: center;
}

.login-page-logo {
  width: 200px;
  border-top-style: outset;
  border-bottom-style: inset;
  margin-top: 5%;
  position: relative;
  left: 20%;
  right: auto;
}
