@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

.discussion-section-div {
  margin-left: 1%;
  margin-right: 1%;
  /* margin: 1%; */
}

.no-comments-text {
  font-family: "Ubuntu", sans-serif;
  word-spacing: 2px;
  overflow-wrap: anywhere;
  font-weight: 600;
  color: #5f5f5f;
  margin-left: 10px;
}

.copyright-text {
  font-family: "Ubuntu", sans-serif;
  word-spacing: 2px;
  font-size: 10px;
  color: #929292;
  font-weight: 700;
  text-align: center;
  position: relative;
  bottom: -73px;
}

.button-container-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46%;
}
